<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New</title>
</head>
<body>
	<div>
		<h1>Make a new friend</h1>
		<form action="/newanimal" method="post">
			<input type="text" name="newthingname" placeholder="Name">
			<input type="submit" value="Make">
		</form>
	</div>

</body>
</html>