<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>quotes</title>
</head>
<body>
	<div>
		<h1>Heres are the awesome quotes!</h1>
		<% for (let i in users) { %>
		<p>"<%= users[i].quote %>"</p>
		<p>-<%= users[i].name %> at <%= users[i].createdAt %></p>
		<hr>
		<% } %>
	</div>

</body>
</html>